# Node

node_modules

# Bun

bun.lockb
tsconfig.tsbuildinfo

# Prisma

prisma/migrations/*
!prisma/migrations/migration_lock.toml

# Environment

.env

# Misc

src/commands/test.ts
elebele.ts
src/client/stats.json
src/config.json